nav{
	overflow: hidden;
	//border-top: #b2001f;
	width: 100%;
	position: absolute;
	bottom: 0;
	//border-bottom: solid 1px #316a98;
	//border-top: solid 1px #316a98;
	//-moz-box-shadow: inset 0 0 0 1px rgba(34,179,247,0.9);
	//-webkit-box-shadow: inset 0 0 0 1px rgba(34,179,247,0.9);
	//box-shadow: inset 0 0 0 1px rgba(34,179,247,0.9);
	background: #0093ef;
	background: -moz-linear-gradient(top,#0093ef 0,#0089e0 50%,#007ac7 51%,#0471b5 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0093ef),color-stop(50%,#0089e0),color-stop(51%,#007ac7),color-stop(100%,#0471b5));
	background: -webkit-linear-gradient(top,#0093ef 0,#0089e0 50%,#007ac7 51%,#0471b5 100%);
	background: -o-linear-gradient(top,#0093ef 0,#0089e0 50%,#007ac7 51%,#0471b5 100%);
	background: -ms-linear-gradient(top,#0093ef 0,#0089e0 50%,#007ac7 51%,#0471b5 100%);

	background: linear-gradient(to bottom,#0470b4 0,#095b8c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0093ef',endColorstr='#0471b5',GradientType=0);
}

.navbar-default, .navbar-collapse {

	//border-color: #0093ef !important;
	border: none;

}

.navbar-header{

	//background: url(../../images/banner_header.png) left top no-repeat cover;

}

.nav li {
	//border-right: 1px solid #fff;
	//float: left;
	//width: 195px;
}

.navbar-nav{

	li{
		a{
			text-transform: uppercase;
			font-weight: 600;
			color: white !important;
		}
	}

}

.nav li.current, .nav li a:hover {
	background: #0593d9;
	background: -moz-linear-gradient(top,#0593d9 1%,#0c78b2 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#0593d9),color-stop(100%,#0c78b2));
	background: -webkit-linear-gradient(top,#0593d9 1%,#0c78b2 100%);
	background: -o-linear-gradient(top,#0593d9 1%,#0c78b2 100%);
	background: -ms-linear-gradient(top,#0593d9 1%,#0c78b2 100%);
	background: linear-gradient(to bottom,#0593d9 1%,#0c78b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0593d9',endColorstr='#0c78b2',GradientType=0);
}

.navbar-right{
	margin-right: 0 !important;
}

.navbar-collapse {

	padding-right: 0px;
	padding-left: 0px;
}

.site-top {
	padding: 7px;
	color: #fff;

	a {
		color: #fff;
	}
}

.menu-main, .menu-bottom {
	width: 100%;
	position: inherit;
	/*background: #b74841;*/
	/* Old browsers */
	background: -moz-linear-gradient(to bottom, #0494da 0, #095b8c 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #0494da), color-stop(100%, #095b8c));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(to bottom, #0494da 0, #095b8c 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(to bottom, #0494da 0, #095b8c 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(to bottom, #0494da 0, #095b8c 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #0494da 0, #095b8c 100%);
	/* W3C */
	background: linear-gradient(to bottom, #0494da 0, #095b8c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b74841', endColorstr='#bd1208',GradientType=0 ); }

.ddsmoothmenu {
	/*background of menu bar (default state)*/
	width: 100%;
	height: 37px;
	display: block;
	margin: 0 auto;
	position: relative; }

.ddsmoothmenu ul {
	z-index: 100;
	height: 37px;
	padding: 0px  0 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li {
	position: relative;
	display: inline;
	float: left;
	font-size: 100%;
	padding: 0;
	width: 20%;
	text-align: center;
	background: url(/images/menu/border.png) no-repeat right;
}

.ddsmoothmenu ul li:last-child {
	/*background: url(/images/menu/border.png) no-repeat left, url(/images/menu/border.png) no-repeat right; */
	background: none;
}
/*background: none }*/

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	background: none;
	/*background of menu items (default state)*/
	color: #fff;
	padding: 0;
	text-decoration: none;
	line-height: 37px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
}

* html .ddsmoothmenu ul li a {
	/*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block; }

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited {
	color: #fff; }

.ddsmoothmenu ul li.selected a {
	/*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #fae2ad; }

.ddsmoothmenu ul li a:hover {
	/*background of menu items during onmouseover (hover state)*/
	color: #fae2ad; }

/*1st sub level menu*/
.ddsmoothmenu ul li ul {
	position: absolute;
	left: 0;
	display: none;
	/*collapse all sub menus to begin with*/
	visibility: hidden;
	top: 37px;
	width: 100% !important; }

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li {
	display: list-item;
	float: none;
	background-color: #e04d58 !important;
	color: #fff;
	padding: 0 !important;
	background-image: none !important;
	font-size: 13px;
	text-align: left !important;
	width: 100%;
	min-width: 190px;
	border-bottom: 1px solid #ccc; }

.ddsmoothmenu ul li ul li:last-child {
	width:10% !important;
	background: #e04d58;
	border-bottom: 0; }

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul {
	top: 0 !important; }

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a {
	/*width of sub menus*/
	margin: 0;
	line-height: 20px;
	color: #fff;
	padding: 6px 10px !important; }

.ddsmoothmenu ul li ul li a:hover {
                    background: #a40000;
					border-radius: 0; }
